// These colors are specific to the theme. Do not use in a package!

@light-gray: #bbb;
@gray: #777;

@cyan: DeepSkyBlue; // Tb puede ser DodgerBlue
@blue: #0040ff;
@purple: #bf80ff;
@green: #0b6; // Tb puede ser 0c6
@red: crimson;
@orange: #ce7b00;
@light-orange: orange;
@pink: #ff1a8c;
@light-pink: lighten(@pink, 20%);
@fuchsia: #e600e6;
